language: python
sudo: required
python:
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
  - "nightly"
matrix:
  include:
    - { python: "3.6", env: TOXENV=lint }
  allow_failures:
    - python: "3.6-dev"
    - python: "3.7-dev"
    - python: "nightly"
services:
  - memcached
  - rabbitmq
  - redis
install:
  - pip install '.[dev]' codeclimate-test-reporter tox-travis
script:
  - TRAVIS=1 tox
after_success:
  - CODECLIMATE_REPO_TOKEN=27f6c9909e005594354ce88fdddb48b12205bb038725d7c94581bad3b751e15c codeclimate-test-reporter
