# Code owners are tagged automatically for pull requests.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @Bogdanp @LincolnPuzey
